:root {
  --navbar-height: 108px;
  @media (min-width: $tablet) {
    --navbar-height: 229px;
  }
}

.navbar {
  padding-bottom: 40px;
  @media (min-width: $tablet) {
    padding-top: 35px;
    padding-bottom: 120px;
  }
  @media (min-width: $tablet) and (max-width: $desktop) {
    padding-left:  1.5rem;
    padding-right:  1.5rem;
  }
}

.navbar-menu {
  flex-direction: column;
  align-items: flex-end;
}

.navbar-item {
  color: $grey-light;
}

a.navbar-item, .navbar-item a {
  color: $black;
  img {
    height: 20px;
    max-height: 20px;
  }
  @media (max-width: $tablet) {
    padding: 1.5rem;
  }
  @media (min-width: $tablet) {
    img {
      height: 40px;
      max-height: 40px;
    }
  }
  &:hover {
    color: $grey-light;
  }
}

.navbar-separator {
  margin: 0 10px;
}

.navbar-start {
  margin-right: 0;
}

.navbar-burger {
  width: 4rem;
  height: 4rem;
  border: 0;
  background: transparent;
}
