:root {
  --navbar-height: 108px;
  @media (min-width: $tablet) {
    --navbar-height: 229px;
  }
}

.navbar {
  padding-bottom: 40px;
  @media (min-width: $tablet) {
    padding-top: 35px;
    padding-bottom: 120px;
  }
  @media (min-width: $tablet) and (max-width: $desktop) {
    padding-left:  1.5rem;
    padding-right:  1.5rem;
  }
}

.navbar-menu {
  flex-direction: column;
  align-items: flex-end;

  .navbar-item-number {
    display: none;
  }

  @media (max-width: $tablet) {
    &.is-active {
      display: flex;
      align-items: center;
      font-size: 2rem;

      .navbar-item-number {
        display: inline-block;
        font-family: $font-serif;
        padding-right: 1rem;
      }
    }
    .navbar-languages {
      order: 2;
      a {
        padding: 1.5rem 0;
      }
    }
  }
}

.navbar-item-inactive {
  opacity: $active-opacity;
}

a.navbar-item, .navbar-item a {
  color: $black;
  opacity: 1;
  img {
    height: 20px;
    max-height: 20px;
  }
  @media (max-width: $tablet) {
    padding: 1.5rem;
  }
  @media (min-width: $tablet) {
    img {
      height: 40px;
      max-height: 40px;
    }
  }
  &:hover {
    opacity: $active-opacity;
  }
}

.navbar-separator {
  margin: 0 10px;
}

.navbar-start {
  margin-right: 0;
}

.navbar-burger {
  width: 3rem;
  height: 3rem;
  border: 1px solid $black;
  margin-right: .5rem;
  margin-top: .5rem;
  background: transparent;
  border-radius: 50%;
  span {
    height: 3px;
    width: 20px;
    left: calc(50% - 10px);
    &:nth-child(1) {
      top: calc(50% - 8px);
    }
    &:nth-child(3) {
      top: calc(50% + 6px);
    }
  }
  &.is-active {
    span:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
    }
    span:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
    }
  }
}

.navbar-navigation {

}

.navbar-languages {

}