.contact {
  font-family: $font-serif;

  .content {
    margin-top: 6rem;
    font-size: 1.76rem;
    font-family: $font-serif;
  }
}
.contact-map {
  margin-left: -33.3%;
  padding-bottom: 0;
  display: none;
  @media (min-width: $tablet) {
    display: block;
  }
}
.contact-map-content {
  min-height: calc(100vh - var(--navbar-height));
  height: 100%;
  width: 100%;
}

.contact-socials {
  margin-top: 4rem;
  font-size: 1.38rem;
  a {
    display: inline-block;
    padding: 0.5rem;
    &:first-child {
      padding-left: 0;
    }
  }
}

/* purgecss start ignore */
.contact .content em {
  font-family: serif;
  font-style: normal;
}
/* purgecss end ignore */