.project {
  .vertical-title {
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.projects-content {
  @media (min-width: $tablet) {
    margin-left: -16.66%;
  }
}

.project-content {
  @media (max-width: $tablet) {
    grid-row-start: 1;
  }
}

.project-layout {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-title {
  font-size: 6rem;
  line-height: 6rem;
}

.project-description {
  padding: 4rem 0 4rem 4rem;

  @media (max-width: $tablet) {
    padding-left: 0;
  }
}

.project-navigation {
  display: flex;
  font-family: $font-serif;
  font-size: 2rem;
}

.project-navigation-previous {
  margin-right: auto;
}

.project-navigation-next {
  margin-left: auto;
}

.project-navigation-top {
  padding-left: 4rem;
  @media (max-width: $tablet) {
    padding-left: 0;
  }
}

.project-navigation-bottom {
  padding: 3rem 0.75rem;
}

.project-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-button {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  display: block;
  border: 1px solid $black;
}

.project-button-back {
  @media (max-width: $tablet) {
    position: absolute;
    top: 3rem;
    right: 0;
  }
}

.project-button-up {
  @media (max-width: $tablet) {
    margin-left: auto;
  }
}

.layout-1-2-1-2 .project-photo:nth-child(5),
.layout-1-2-1-1 .project-photo:nth-child(5 + n),
.layout-1-2-2-2 .project-photo:nth-child(3 + n)
{
  grid-column: 1 / span 2;
}