.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25rem;
  gap: 2rem;
  padding: 1rem 0;
  
  @media (min-width: $tablet) {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}

.featured-thumbnail-cover {
  opacity: 0;
  transition: 1s;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  text-align: right;
  color: $black;
}


.projects-item {
  overflow: hidden;
  height: 25rem;

  .featured-thumbnail {
    position: relative;
    height: 100%;
  }
  
  .featured-thumbnail-inner,
  .featured-thumbnail-image {
    height: 100%;
  }
  
  .featured-thumbnail-image {
    transition: 1s;
  }
  
  &:hover {
    .featured-thumbnail-cover {
      opacity: 1;
    }
    .featured-thumbnail-image {
      transform: scale(1.1);
      filter: grayscale(100%) brightness(120%);
      opacity: .7;
    }
  }
}
