/* purgecss ignore */
.project {
  .vertical-title {
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.projects-content {
  @media (min-width: $tablet) {
    margin-left: -16.66%;
  }
}

.project-content {
  @media (max-width: $tablet) {
    grid-row-start: 1;
  }
}

.project-layout {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-title {
  font-size: 6rem;
  line-height: 6rem;
}

.project-description {
  padding: 4rem 0 4rem 4rem;

  @media (max-width: $tablet) {
    padding-left: 0;
  }
}

.project-navigation {
  display: flex;
  font-family: $font-serif;
  font-size: 2rem;
  white-space: nowrap;
  transition: $animation;
  
  svg {
    transition: $animation;
    fill: $black;
    width: 1.2rem;
  }

}

.project-navigation-previous,
.project-navigation-next {
  transition: $animation;
  display: flex;
}

.project-navigation-previous {
  margin-left: auto;
  svg {
    margin-left: 1rem;
  }
  &:hover {
    transform: translateX(.5rem);
    svg {
      transform: translateX(.2rem);
    }
  }
}

.project-navigation-next {
  margin-right: auto;
  svg {
    margin-right: 1rem;
  }
  &:hover {
    transform: translateX(-.5rem);
    svg {
      transform: translateX(-.2rem);
    }
  }
}

.project-navigation-top {
  padding-left: 4rem;
  @media (max-width: $tablet) {
    padding-left: 0;
  }
}

.project-navigation-bottom {
  padding: 3rem 0.75rem;
}

.project-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-button {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  border: 1px solid $black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $animation;
  svg {
    transition: $animation;
    width: 1rem;
  }
}

.project-button-back {
  @media (max-width: $tablet) {
    position: absolute;
    top: 3rem;
    right: 0;
  }
  &:hover {
    transform: scale(0.9);

    svg {
      transform: scale(1.2);
    }
  }
}

.project-button-up {
  @media (max-width: $tablet) {
    margin-left: auto;
  }
  &:hover {
    transform: scale(0.8);

    svg {
      transform: scale(1.2) translateY(-2.5rem);
    }
  }
}
/* purgecss start ignore */
.layout-2-1-1-1-1 .project-photo:nth-child(n+3),
.layout-2-2-1-1-2 .project-photo:nth-child(5),
.layout-2-2-1-1-2 .project-photo:nth-child(6),
.layout-2-2-1-1-2 .project-photo:nth-child(n+9),
.layout-2-2-1-2-2 .project-photo:nth-child(5),
.layout-2-1-2-2-2 .project-photo:nth-child(3) {
  grid-column: 1 / span 2;
}
/* purgecss end ignore */