@font-face {
  font-family: Mazius;
  src: url('../fonts/mazius.otf');
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans.ttf');
}

$font-serif: Mazius, serif;
$font-sans-serif: "Open Sans", sans-serif;


body {
  background: $white;
}

@import "navbar";
@import "home";