@font-face {
  font-family: Mazius;
  src: url('../fonts/mazius.otf');
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans.ttf');
}

$font-serif: Mazius, serif;
$font-sans-serif: "Open Sans", sans-serif;

body {
  background: $white;
  color: $black;
  font-family: $font-sans-serif;
  font-size: 0.88rem;
  line-height: 2;
  scroll-behavior: smooth;
}

h1,h2 {
  font-family: $font-serif;
}

a {
  transition: $animation opacity;
  &:hover {
    color: $black; 
    opacity: $active-opacity;
  }
}

@import "components/navbar";
@import "components/content";
@import "components/vertical-title";
@import "components/section";

@import "pages/home";
@import "pages/about";
@import "pages/contact";
@import "pages/projects";
@import "pages/project";